{% extends "tv/control/base.html" %}

{% block content %}
<div class="col-6">
    <div class="row">
        <h3>Add new stream server</h3>
    </div>
    <div class="row">
        <div class="card is-full-width">
            <form id="form" method="post" action="">
                {% csrf_token %}
                {{form.as_p}}
                <a href="#" class="button primary" onclick="$('#form').submit();">Save</a>
                <a href="../" class="button dark">Cancel</a></form>
        </div>
    </div>
</div>
</div>
{% endblock content %}