{% extends "tv/control/base.html" %}

{% block content %}
<div class="col-6">
    <div class="row">
        <h3>Edit stream server</h3>
    </div>
    <div class="row">
        <div class="card is-full-width">
            <form id="form" method="post" action="">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Save" class="button">
                <input type="button" value="Delete" onClick="location='delete'" class="button error">
                <input type="button" value="Cancel" onClick="location='../'" class="button dark">
            </form>
        </div>
    </div>
</div>
{% endblock content %}