{% extends "tv/control/base.html" %}

{% block content %}
<div class="col">
    <div class="row">
        <h3>Servers</h3>
    </div>

    {% if message %}
    <div class="row">
        {{ message }}
    </div>
    {% endif %}

        {% if servers %}
        {% for server in servers %}
            <div class="row">
                    <h4>{{ server }}</h4>
            </div>
            <div class="row">
                IP Address: {{ server.address }}
            </div>
            <div class="row">
                API: http://{{ server.address }}:{{ server.api_port  }}
            </div>
        {% endfor %}
        {% endif %}

    <div class="row">
        <a class="button primary" href="new/">Add server ...</a>
    </div>

</div>
{% endblock content %}